<header>
    <a href="Index.html"><div class="logo">QrTransport</div></a>
    <div class="hamburger">
        <div class="line"></div>           
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
                <a routerLink="/profile" >Inicio</a>
            </li>
            <li>
                <a routerLink="/dashboard" class="active">Mi cuenta</a>
            </li>
            <li>
                <a routerLink="/profile">Perfil</a>
            </li>
            <li>
                <a routerLink="/" (click)="logOut()">Cerrar Sesion</a>
            </li>

        </ul>
       
    </nav>
</header>

<div class="container" >
  <div style="width: 50%;">
    <div class="py-2">
        <div class="card">
            <div class="content">
              <div class="top">
                <p>Chofer</p>
                <div class="color"></div>
              </div>
              <div class="middle">
                <div>
                  <p>Cuenta: {{ this.useruid }}</p>
                  <p>Ruta ##</p>
                </div>
                <img src="https://i.pinimg.com/originals/af/72/57/af7257ee7ba4172c8d7f0b2f86e416e1.png" />
              </div>
              <div class="bottom">
                <div>
          <h4 class="pb-4 border-bottom">Balance de cuenta: $ <span> {{this.usersaldo}} </span></h4>
                  
                </div>
                
              </div>
            </div>
          </div>
        
      <div>
      </div>
      
      <div class="d-sm-flex align-items-center pt-3" id="deactivate">
          <div>
              <b>Desactivar tu cuenta</b>
              <p>Desactiva tu cuenta </p>
          </div>
          <div class="ml-auto">
              <button class="btn danger">Desactivar </button>
          </div>
      </div>
  </div>
  </div>
  <div class="qr" >
    <div class="img">
        
        <div>
            <div class="container">
                <form (ngSubmit)="envio()" [formGroup]="qr">
                    <div class="form-floating mb-3">
                        <label>Qr</label>
                        <input type="text" formControlName="text" class="form-control">
                        
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="opacity"  >Ingresar</button>
                    </div>
                </form>
              
                
              
            </div>

            <div class="table-responsive">
                <table class="table table-primary">
                
                    <thead>
                        <tr>
                            <th scope="col">Column 1</th>
                            <th scope="col">Column 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">R1C1</td>
                            <td>R1C2</td>
                        </tr>
                        <tr class="">
                            <td scope="row">Item</td>
                            <td>Item</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

    </div>    
    
  </div>
  
</div>



